# Configuration file

General {
    # If TRUE, the recipe for Florbs is enabled. Setting this to FALSE means that you actively dislike fun things. [default: true]
    B:EnableRecipe=true
}


Whitelist {
    B:aerotheum=true
    B:alewort=true
    B:alubrass=true
    B:aluminum=true
    B:applejuice=true
    B:ardite=true
    B:bacterialsludge=true
    B:bio.ethanol=true
    B:biodiesel=true
    B:biofuel=true
    B:biomass=true
    B:blood=true
    B:blueslime=true
    B:boron10=true
    B:boron11=true
    B:brass=true
    B:bronze=true
    B:canolaoil=true
    B:clay=true
    B:cobalt=true
    B:concrete=true
    B:constantan=true
    B:copper=true
    B:creosote=true
    B:crude_oil=true
    B:cryotheum=true
    B:crystaloil=true
    B:dawnstone=true
    B:deuterium=true
    B:diesel=true
    B:dirt=true
    B:electrum=true
    B:emerald=true
    B:empoweredoil=true
    B:ender=true
    B:essence=true
    B:ethanol=true
    B:fluid_darkmatter=true
    B:fluid_mnu=true
    B:fluidberylium=true
    B:fluidcalcium=true
    B:fluidcalciumcarbonate=true
    B:fluidcarbon=true
    B:fluidcarbonfiber=true
    B:fluidchlorite=true
    B:fluidcompressedair=true
    B:fluiddeuterium=true
    B:fluiddiesel=true
    B:fluidelectrolyzedwater=true
    B:fluidglyceryl=true
    B:fluidhelium=true
    B:fluidhelium3=true
    B:fluidheliumplasma=true
    B:fluidhydrogen=true
    B:fluidlithium=true
    B:fluidmercury=true
    B:fluidmethane=true
    B:fluidnitrocarbon=true
    B:fluidnitrocoalfuel=true
    B:fluidnitrodiesel=true
    B:fluidnitrofuel=true
    B:fluidnitrogen=true
    B:fluidnitrogendioxide=true
    B:fluidoil=true
    B:fluidpotassium=true
    B:fluidsilicon=true
    B:fluidsodium=true
    B:fluidsodiumpersulfate=true
    B:fluidsodiumsulfide=true
    B:fluidsulfur=true
    B:fluidsulfuricacid=true
    B:fluidtritium=true
    B:fluidwolframium=true
    B:for.honey=true
    B:fuel=true
    B:fuel_dense=true
    B:fuel_dense_heat_1=true
    B:fuel_dense_heat_2=true
    B:fuel_gaseous=true
    B:fuel_gaseous_heat_1=true
    B:fuel_gaseous_heat_2=true
    B:fuel_light=true
    B:fuel_light_heat_1=true
    B:fuel_light_heat_2=true
    B:fuel_mixed_heavy=true
    B:fuel_mixed_heavy_heat_1=true
    B:fuel_mixed_heavy_heat_2=true
    B:fuel_mixed_light=true
    B:fuel_mixed_light_heat_1=true
    B:fuel_mixed_light_heat_2=true
    B:glass=true
    B:glowstone=true
    B:gold=true
    B:grapejuice=true
    B:helium3=true
    B:honey=true
    B:hot_spring_water=true
    B:ic2air=true
    B:ic2biogas=true
    B:ic2biomass=true
    B:ic2construction_foam=true
    B:ic2coolant=true
    B:ic2distilled_water=true
    B:ic2heavy_water=true
    B:ic2hot_coolant=true
    B:ic2hot_water=true
    B:ic2hydrogen=true
    B:ic2oxygen=true
    B:ic2pahoehoe_lava=true
    B:ic2steam=true
    B:ic2superheated_steam=true
    B:ic2uu_matter=true
    B:ic2weed_ex=true
    B:ice=true
    B:iron=true
    B:ironberryjuice=true
    B:juice=true
    B:knightslime=true
    B:latex=true
    B:lava=true
    B:lead=true
    B:lifeessence=true
    B:liquiddna=true
    B:liquidhelium=true
    B:lithium6=true
    B:lithium7=true
    B:mana=true
    B:manyullyn=true
    B:meat=true
    B:menrilresin=true
    B:milk=true
    B:mutagen=true
    B:neutron=true
    B:nickel=true
    B:obsidian=true
    B:oil=true
    B:oil_dense=true
    B:oil_dense_heat_1=true
    B:oil_dense_heat_2=true
    B:oil_distilled=true
    B:oil_distilled_heat_1=true
    B:oil_distilled_heat_2=true
    B:oil_heat_1=true
    B:oil_heat_2=true
    B:oil_heavy=true
    B:oil_heavy_heat_1=true
    B:oil_heavy_heat_2=true
    B:oil_residue=true
    B:oil_residue_heat_1=true
    B:oil_residue_heat_2=true
    B:oliveoil=true
    B:petrotheum=true
    B:pigiron=true
    B:plantoil=true
    B:plasma=true
    B:poison=true
    B:protein=true
    B:purpleslime=true
    B:pyrotheum=true
    B:redstone=true
    B:sand=true
    B:seed.oil=true
    B:sewage=true
    B:short.mead=true
    B:silver=true
    B:sludge=true
    B:steam=true
    B:steel=true
    B:stone=true
    B:sulphuricacid=true
    B:syngas=true
    B:tin=true
    B:tritium=true
    B:uranium=true
    B:water=true
    B:wildberryjuice=true
    B:zinc=true
}


